
{% load static %}
{% include 'base/inc/header-2.html' %}

<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Bosh sahifa</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Aloqa</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- //banner -->
    <!-- contact -->
    <section class="wthree-row pt-3 pb-lg-5 w3-contact">
        <div class="container py-sm-5 pt-0 pb-5">
            <div class="title-section text-center pb-lg-5">
                <h4>Red star med servise</h4>
                <h3 class="w3ls-title text-center text-capitalize">Biz bilan aloqa</h3>
            </div>
            <div class="row contact-form pt-lg-5">
                <!-- contact details -->
                <div class="col-lg-4 contact-bottom mt-lg-0 mt-5">
                    <div class="contact-details-top">
                        <h5 class="sub-title-wthree">Aloqa</h5>
                        <img src="{% static 'images/contact.jpg' %}" alt="team-image" class="img-fluid  mb-3" />
                        <p>M Etiam elit elit, elementum sed varius at, adipiscing vitae est.</p>
                    </div>
                    <div class="address">
                        <h5 class="sub-title-wthree">Xabar berin</h5>
                        <div class="row wthree-cicon">
                            <span class="fas fa-envelope-open mr-3"></span>
                            <a href="mailto:info@example.com">sulaymonovabdulaziz99999@gmail.com</a>
                        </div>
                        <div class="row wthree-cicon">
                            <span class="fas fa-phone-volume mr-3"></span>
                            <h6>+998 73 541 85 68</h6>
                        </div>
                       
                    </div>
                    
                </div>
                <!-- //contact details -->
                <div class="col-lg-8 wthree-form-left px-lg-5 mt-lg-0 mt-5">
                    <!-- contact form grid -->
                    <div class="contact-top1">
                        <h5 class="sub-title-wthree">Xabar yuboring</h5>
                        <form action="#" method="get" class="pc-contact">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="contact-name">Ism
                                        <span>*</span>
                                    </label>
                                    <input type="text" class="form-control" id="contact-name" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="contact-email">Email
                                        <span>*</span>
                                    </label>
                                    <input type="email" class="form-control" id="contact-email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact-subject">Mavzu
                                    <span>*</span>
                                </label>
                                <input type="text" class="form-control" id="contact-subject" required>
                            </div>
                            <div class="form-group">
                                <label for="contact-message">
                                    Sizning xabaringiz
                                    <span>*</span>
                                </label>
                                <textarea class="form-control" rows="5" id="contact-message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block w-25">Yuborish</button>
                        </form>
                    </div>
                    <!--  //contact form grid ends here -->
                </div>
            </div>
            <!-- //contact details container -->
        </div>
        <!-- contact map grid -->
        <div class="map contact-right p-sm-5 p-3 pb-lg-5">
            <div class="title-section text-center pb-5">
                <h4>Red star med service</h4>
                <h3 class="w3ls-title text-center text-capitalize">Joylashuv</h3>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.1544746185361!2d70.95004265805343!3d40.53476303334964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDMyJzA1LjEiTiA3MMKwNTcnMDQuMSJF!5e0!3m2!1sru!2s!4v1603904917669!5m2!1sru!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                
        </div>
        <!--//contact map grid ends here-->
<br>
<br>
<br>
<br>

{% include 'base/inc/footer.html' %}