
{% load static %}
{% include 'base/inc/header-2.html' %}

<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Bosh sahifa</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Galereya</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- //banner -->
    <!--gallery-->
    <div class="gallery  py-5" id="gallery">
        <div class="container py-md-5">
            <div class="title-section text-center pb-5">
                <h4>Red star med service</h4>
                <h3 class="w3ls-title text-center text-capitalize">Galereya</h3>
            </div>
            <div class="row w3ls_gallery_grids">
                <div class="row w3_agile_gallery_grid pt-lg-5">
                    {% for i in galereyalar %}
                    <div class="col-sm-4 agile_gallery_grid">
                        <a title="Start Improving Your Business Today." href="{{ i.rasm.url }}">
                            <div class="agile_gallery_grid1">
                                <img src="{{ i.rasm.url }}" alt=" " class="img-fluid" />
                            </div>
                        </a>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    <!--//gallery-->
<br>
<br>
<br>
<br>

{% include 'base/inc/footer.html' %}