{% extends 'base/base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="slider-info">
                                <span class="">Grija davolash</span>
                                <h3>Grijani cho'zib davolash</h3>
                                <a class="btn btn-primary mt-3" href="services.html" role="button">Batafsil</a>
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                                <span class=""></span>
                                <h3>health care solution</h3>
                                <a class="btn btn-primary mt-3" href="services.html" role="button">View Details</a>
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                                <span class="">providing total</span>
                                <h3>health care solution</h3>
                                <a class="btn btn-primary mt-3" href="services.html" role="button">View Details</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <!-- section-2 -->
    <div class="section-2">
        <div class="container-fluid">
            <div class="row slide">
                <div class="col-lg-4 triple-sec">
                    <h5 class="text-dark">Maxsus xizmatlar</h5>
                    <ul class="list-group mt-3">
                        <li class="list-group-item border-0">
                            <i class="fas fa-heartbeat mr-3"></i>Kardio ko'rik</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-user-md mr-3"></i>Doktor nazorati</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-pills mr-3"></i>Dori-darmon</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-thermometer mr-3"></i>
                            Porta ac consectetur ac</li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-ambulance mr-3"></i>tez yordam</li>
                    </ul>
                </div>
                <div class="col-lg-4  triple-sec">
                    <h5>kun tartibi</h5>
                    <ul class="list-unstyled">
                        <li class="clearfix py-3">
                            <span class="float-left">Dushanbadan - Jumagacha</span>
                            <div class="value float-right"> 7.00 - 19.00 </div>
                        </li>
                        <li class="clearfix border-top border-bottom my-3 py-3">
                            <span class="float-left"> Shanba </span>
                            <div class="value float-right"> 7.00 - 15.00 </div>
                        </li>
                        <li class="clearfix py-3">
                            <span class="float-left"> Yakshanba </span>
                            <div class="value float-right"> 7.00 - 12.00 </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 triple-sec">
                    <h5 class="text-black">Klinika xaqida</h5>
                    <p class="pt-4">Har bir bemorga individual yondoshish va quyidagi yo'nalishlar bo'yicha 
                    keng ko'lamli xizmatlar: Terapiya, 
                    nevrologiya, endokrinologiya, ultratovush, laboratoriya, fizioterapiya. 
                    Ushbu profil kasalliklarini davolashda boshqa klinikalarda o'xshashlari bo'lmagan usul va 
                    uskunalar qo'llaniladi.</p>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- //section-2 -->
    <!-- about -->
    <div class="agileits-about py-md-5 py-5" id="services">
        <div class="container py-lg-5">
            <div class="title-section text-center pb-md-5">
                <h4>Red Star - Med Service</h4>
                <h3 class="w3ls-title text-center text-capitalize">Siz ishonishingiz mumkin bo'lgan shifoxona</h3>
            </div>
            <div class="agileits-about-row row  text-center pt-md-0 pt-5">
                <div class="col-lg-4 col-sm-6 agileits-about-grids">
                    <div class="p-md-5 p-sm-3">
                        <i class="fas fa-user-md"></i>
                        <h4 class="mt-2 mb-3">Terapevt</h4>
                        <p>O'z ichiga terapevt mutaxassisligi tomonidan: nafas olish, ovqat hazm qilish, yurak-qon tomir, siydik, mushak, skeletlari topildi, endokrin va qon aylanish tizimlari. Terapevt keng miqyosli mutaxassis bo'lib, uning faoliyati o'n sakkiz yoshga to'lgan bemorlarning patologik holatini aniqlash va davolashga qaratilgan.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 agileits-about-grids  border-left border-right my-sm-0 my-5">
                   <div class="p-md-5 p-sm-3">
                        <i class="fas fa-thermometer"></i>
                        <h4 class="mt-2 mb-3">lobaratoriya</h4>
                        <p>lobaratoriyada BIO ximia qon taxlili olinadi. </p>
                    </div>
                </div>
                <div class="col-lg-4 agileits-about-grids">
                   <div class="p-md-5 p-sm-3">
                        <i class="far fa-hospital"></i>
                        <h4 class="mt-2 mb-3">Jarroxlik</h4>
                        <p>Jarroxlik amalyoti hozircha mavjud emas.</p>
                    </div>
                </div>
            </div>
            <div class="agileits-about-row border-top row text-center pb-lg-5 pt-md-0 pt-5 mt-md-0 mt-5">
                <div class="col-lg-4 col-sm-6 agileits-about-grids">
                    <div class="p-md-5 p-sm-3 col-label">
                        <i class="fas fa-hospital-symbol"></i>
                        <h4 class="mt-2 mb-3">Yotoqxona xizmatlari</h4>
                        <p> Yotib davolanish imkonyati mavjud, massaj , fezoterapiyalar bor.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 agileits-about-grids mt-lg-0 mt-md-3 border-left border-right pt-sm-0 pt-5">
                    <div class="p-md-5 p-sm-3 col-label">
                        <i class="fas fa-ambulance">
                        </i>
                        <h4 class="mt-2 mb-3">tezyordam </h4>
                        <p>bizda tez tibbiy yordamlarimiz mavjud.</p>
                    </div>
                </div>
                <div class="col-lg-4 agileits-about-grids pt-md-0 pt-5">
                    <div class="p-md-5 p-sm-3 col-label">
                        <i class="fa fa-user-md"></i>
                        <h4 class="mt-2 mb-3">onkologia</h4>
                        <p>onkologiya kasalliklarini davolash xizmatlari bor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- blog -->
    <section class="blog_w3ls py-lg-5">
        <div class="container">
            <div class="title-section text-center pb-lg-5">
                <h4>Red star med service</h4>
                <h3 class="w3ls-title text-center text-capitalize">Yangiliklar</h3>
            </div>
            <div class="row py-5">
                <!-- blog grid -->
                {% for i in yangilik %}
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="single.html">
                                <img class="card-img-bottom" src="{{i.rasm.url}}" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body border-0 px-0">
                            <div class="blog_w3icon">
                                <span class="{{ i.content }}"></span>
                            </div>
                            <div class="pt-2">
                                <h5 class="my-3">{{ i.title }}</h5>
                            </div>
                            <a href="single.html" class="blog-btn">Read more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- //blog -->
    <!-- testimonials -->
    
    <!-- //testimonials -->
{% endblock %}