{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">

<h1>
    <a class="navbar-brand text-white" href="index.html">
        <img src="{% static 'images/logo.png' %}" class = "logo_header">
    </a>
</h1>
    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-lg-auto text-center">

        <li class="nav-item  mr-3 {% if request.resolver_match.url_name == 'bosh_sahifa' %} active{% endif %}">
            <a class="nav-link text-white" href="{% url 'bosh_sahifa' %}">Bosh sahifa
            </a>
        </li>

        <li class="nav-item  mr-3 {% if request.resolver_match.url_name == 'biz_haqimizda' %} active{% endif %}">
            <a class="nav-link text-white" href="{% url 'biz_haqimizda' %}">Klinika haqida
            </a>
        </li>

        <li class="nav-item  mr-3 {% if request.resolver_match.url_name == 'galereya' %} active{% endif %}">
            <a class="nav-link text-white" href="{% url 'galereya' %}">Galereya
            </a>
        </li>

        <li class="nav-item  mr-3 {% if request.resolver_match.url_name == 'service' %} active{% endif %}">
            <a class="nav-link text-white  text-capitalize" href="{% url 'service' %}">Xizmatlar</a>
        </li>
                   
        <li class="nav-item MR-3 {% if request.resolver_match.url_name == 'aloqa' %} active{% endif %}">
            <a class="nav-link  text-white text-capitalize" href="{% url 'aloqa' %}">Aloqa</a>
        </li>
    </ul>
</div>
</nav>